<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__contacts">
      <div class="footer__title">
        Мои контакты
      </div>
      <a href="tel:+79969538874" class="footer__phone">
        +7 996 953 88 74
      </a>
      <a href="mailto:volokhov.dynasty@gmail.com" class="footer__email">
        volokhov.dynasty@gmail.com
      </a>
    </div>
    <div class="footer__social">
      <div class="footer__social--title">
        Социальные сети:
      </div>
      @include('social.html')
    </div>
  </div>
</footer>
