<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="person">
        <div class="person__name">
          Волохов Иван Александрович
        </div>
        <div class="person__job">
          риэлтор и ипотечный брокер
        </div>
      </div>
      <nav class="nav">
        <ul class="nav__menu">
          <li class="nav__item">
            <a href="" class="nav__link" title="Услуги">
              Услуги
            </a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link" title="Отзывы">
              Отзывы
            </a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link" title="Контакты">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__info">
        <div class="header__phone">
          <a href="tel:+79969538874">+7 996 953 88 74</a>
        </div>
        @include('social.html')
      </div>
    </div>
  </div>
</header>
