@media (min-width: 1024px) {
    .container {
        padding: 0 26px;
    }

    .header {

        &__wrapper {
            padding: 40px 25px;
        }
        .person {
            &__name {
                font-size: 20px;
            }
        }
    
        &__info {
            .social-list {
                margin-left: -25px;
    
                .social-link {
                    width: 30px;
                    margin-left: 25px;
                }
            }
        }

        &__phone {
            font-size: 20px;
        }
    }
    
    .first-block {
        height: calc(322px + (631 - 322) * ((100vw - 768px) / (1024 - 768)));
        padding: 0 26px;

        &__text {
            max-width: 100%;
        }
    
        .title--h1 {
            margin: 0 0 30px;
            font-size: 50px;
        }
    
        &__description {
            font-size: 24px;
        }
    }

    .about { 
        min-height: 780px;

        &-left {
            padding: 0 60px ;
        }

        &__text {
            max-width: 100%;
        }

        .title--h2 {
            font-size: 36px;
            margin-bottom: 24px;
        }
    
        &__description {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .services {
        &__text {
            max-width: 750px;
        }

        .title--h2 {
            font-size: 40px;
            margin-bottom: 33px;
        }

        .services-list {
            max-width: 590px;

            .services-list__item {
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }

    .partners {
        padding-top: 65px;
        padding-bottom: 160px;

        .title--h2 {
            font-size: 36px;
            margin-bottom: 47px;
        }
    
        .partners-list {
    
            &__item {
                height: 226px;
                width: 183px;
                margin-right: 8px;

                svg {
                    width: 120px;
                    height: 120px;
                }
    
                img {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }

    .reviews {
        padding: 65px 40px;
    
        .title--h2 {
            font-size: 36px;
            margin-bottom: 84px;
        }
    
        &__list {
            width: 100%;
            margin-bottom: 78px;
        }
    
        &-item {
            width: 450px;
            margin-bottom: 60px;

            &__info {
                margin-bottom: 26px;
            }
    
            &__name {
                font-size: 26px;
                font-weight: 400;
                margin-right: 15px;
            }
    
            &__text {
                font-size: 20px;
            }

            &__rating {
                span {
                    font-size: 26px;
                    font-weight: 700;
                    margin-right: 6px;
                }
            }

            &__stars {
                margin-top: -6px;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }


        &__link {
            a {
                padding: 18px 53px 16px;
                font-size: 30px;
            }
        }
    }

    .feedback {
        min-height: 710px;

        &__text {
            margin-bottom: 44px;
            max-width: 100%;
        }
    
        .title--h2 {
            font-size: 36px;
            margin-bottom: 24px;
        }
    
        &__description {
            font-size: 24px;
        }
    
        &-form {
    
            &__item {
                margin-right: 22px;
    
                input {
                    width: 225px;
                    font-size: 20px;
                    padding: 27px 14px;
                }
            }

            &__button {
                width: 225px;
                font-size: 20px;
                padding: 29px 14px 27px;
            }
        }
    }

   .footer {
        padding: 100px 0 123px;

        &__contacts {
            margin-bottom: 57px;

            .footer__title {
                font-size: 20px;
                margin-bottom: 13px;
            }

            .footer__phone,
            .footer__email {
                font-size: 40px;
                margin-bottom: 12px;
            }

        }

        &__social {
            &--title {
                font-size: 20px;
                margin-bottom: 29px;
            }
            .social-list {
                .social-link {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

}