@media (min-width: 1200px) {
    .container {
        padding: 0 26px;
    }

    .header {
        &__info {
            margin-left: auto;

            .social-list {
                margin-left: -30px;
    
                .social-link {
                    width: 36px;
                    margin-left: 30px;
                }
            }
        }

        &__phone {
            margin-right: 30px;
        }
        
        .nav {
            display: block;
            margin-left: 122px;

            &__menu {
                display: flex;
    
                .nav__item {
                    margin-right: 50px;
    
                    a {
                        font-size: 20px;
                    }
    
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}