@media (min-width: 768px) {
    .container {
        padding: 0 20px;
    }
    
    .header {
        .person {
            &__name {
                font-size: 14px;
                margin-bottom: 5px;
            }
            &__job {
                display: block;
            } 
        }
    
        &__info {
            display: flex;
            align-items: center;
    
            .social-list {
                margin-left: -20px;
    
                .social-link {
                    margin-left: 20px;
                }
            }
        }

        &__phone {
            // display: block;
            // margin-right: 20px;

            a {
                color: #000;
                text-decoration: underline;
                text-decoration-color: transparent;
                transition: text-decoration-color 0.3s;
    
                &:hover {
                    text-decoration-color: #000;
                }
            }
        }

        &-mobile {
            top: 60px;
        }
    }
    
    .first-block {
        margin-top: 60px;

        .title--h1 {
            margin: 0 0 20px;
            font-size: 30px;
        }
    
        &__description {
            font-size: 24px;
        }
    }

    .about { 
        min-height: 449px;
        
        &-left {
            width: 45%;
        }

        &-right {
            width: 55%;
        }

        &__description {
            font-size: 16px;
        }
    }

    .services {
        &__text {
            max-width: 370px;
        }

        .title--h2 {
            font-size: 20px;
            margin-bottom: 15px;
            text-align: left;
        }

        &-list {
            &__item {
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
    }

    .partners {
        padding-top: 44px;
        padding-bottom: 65px;

        .title--h2 {
            font-size: 24px;
            margin-bottom: 28px;
        }
    
        .partners-list {
            &__item {
                height: 123px;
                width: 112px;

                &:first-of-type {
                    .partners-list__image {
                        img {
                            width: 130px;
                            height: 130px;
                        } 
                    }
                }
    
                &:last-of-type {
                    .partners-list__image {
                        margin-top: -40px;
                        margin-left: -10px;
    
                        img {
                            width: 140px;
                            height: 140px;
                        } 
                    }
                }
            }
        }
    }

    .reviews {
        padding: 44px 30px;
    
        .title--h2 {
            font-size: 24px;
            margin-bottom: 28px;
        }
    
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-between;
            margin: 0 auto; 
            margin-bottom: 30px;
        }
    
        &-item {
            margin-bottom: 40px;
            width: calc(50% - 10px);

            &__info {
                margin-bottom: 11px;
            }
    
            &__name {
                font-size: 20px;
                font-weight: 400;
                margin-right: 10px;
            }
    
            &__text {
                font-size: 16px;
            }

            &__stars {
                margin-top: -3px;
                svg {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }

    .feedback {
        min-height: 326px;

        &__text {
            margin-bottom: 17px;
            max-width: 100%;
        }
    
        .title--h2 {
            font-size: 16px;
            margin-bottom: 10px;
        }
    
        &__description {
            font-size: 14px;
        }
    
        &-form {
    
            &__item {
                margin-right: 16px;
    
                input {
                    width: 110px;
                }
            }

            &__button {
                width: 110px;
            }
        }
    }

    .footer {
        background-size: contain;
        padding: 53px 0 33px;
    
        &__contacts {
    
            .footer__phone,
            .footer__email {
                font-size: 16px;
            }
    
        }
    
        &__social {
            &--title {
                font-size: 14px;
            }
            .social-list {
                margin-left: -23px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .social-link {
                    width: 40px;
                    height: 40px;
                    margin-left: 23px;
                    flex-shrink: 0;
    
                    svg {
                        path {
                            fill: #747474;
                            transition: fill 0.3s;
                        }
                    }
    
                    &:hover{
                        svg {
                            path {
                                fill: #000
                            }
                        }
                    }
                }
            }
        }
    }
}