// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

// тестовые стили, удалите их
.main {
  overflow-x: hidden;
  flex: 1 0 auto;
  height: 100%;
}

@import "mobile";
@import "mobile-480";
@import "laptop";
@import "desktop";
@import "desktop-bg";
