
.header {
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
    }
    .person {
        &__name {
            font-size: 12px;
            font-weight: 700;
        }
        &__job {
            display: none;
        } 
    }
    .nav {
        display: none;
    }

    &__info {

        .social-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -10px;

            .social-link {
                margin-left: 10px;
                width: 20px;
                height: auto;
                flex-shrink: 0;
                color: #000;
            }
        }
    }

    &__phone {
        display: none;
    }
}

.first-block {
    // padding: 44px 26px;
    text-align: center;
    position:  relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(183px + (322 - 183) * ((100vw - 320px) / (768 - 320)));
    min-height: 542px;
    
    &__image {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        max-width: 270px;
    }

    .title--h1 {
        margin: 0 0 20px;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }

    &__description {
        font-size: 20px;
        line-height: 1.5;
        color: #fff;
    }
}

.about { 
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 40px 25px;

    &__image {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    
    &-left {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    &__text {
        position: relative;
        text-align: center;
        z-index: 1;
    }

    .title--h2 {
        margin: 0;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 18px;
    }

    &-right {
        width: 160px;
        height: 210px;
        margin-bottom: 32px;

        &__image {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.services {
    text-align: center;
    position:  relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(177px + (322 - 177) * ((100vw - 320px) / (768 - 320)));
    
    &__image {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        max-width: 263px;
        color: #fff;
    }

    .title--h2 {
        font-size: 12px;
        margin-bottom: 10px;
        text-align: left;
        font-weight: 400;
        line-height: 1.2;
    }

    .services-list {
        list-style-type: disc;

        .services-list__item {
            font-size: 12px;
            text-align: left;
            line-height: 1.2;
        }
    }
}

.partners {
    position: relative;
    background-size: 22%;
    padding: 24px 27px 32px;

    .bg-partners {
        position:  absolute;
        top: 0;
        left: 0;
        height: 100%;   
    }

    .title--h2 {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .partners-list {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;

        &__item {
            height: 63px;
            width: 50px;
            border: 1px solid #747474;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2px;

            img {
                width: 34px;
                height: 34px;
            }
        }
    }
}

.reviews {
    padding: 14px 26px;
    background-color: #F5F5F5;

    .container {
        padding: 0;
    }

    .title--h2 {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 8px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }

    &-item {
        margin-bottom: 10px;

        &__info {
            margin-bottom: 5px;
            display: flex;
        }

        &__name {
            font-size: 12px;
            font-weight: 700;
            margin-right: 5px;
        }

        &__text {
            font-size: 12px;
        }

        &__rating {
            display: flex;

            span {
                font-size: 12px;
                font-weight: 700;
                margin-right: 3px;
            }
        }

        &__stars {
            display: flex;
            margin-top: -1px;
            svg {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__link {
        text-align: center;

        a {
            padding: 9px 7px 7px;
            border: 1px solid #000;
            border-radius: 100px;
            color: #000;
            font-size: 12px;

            transition: all 0.3s;

            &:hover {
                color: #fff;
                border: 1px solid #FFF;
                background-color: #000;
            }
        }
    }
}

.footer {
    background-image: url("../img/bg-footer.webp");
    background-repeat: no-repeat;
    background-position: top right;
    padding: 30px 0;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }

    &__contacts {
        margin-bottom: 12px;
        .footer__title {
            font-size: 12px;
            font-weight: 800;
            margin-bottom: 7px;
            text-transform: uppercase;
        }

        .footer__phone,
        .footer__email {
            display: block;
            font-size: 12px;
            font-weight: 800;
            margin-bottom: 7px;
            color: #000;
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.3s;

            &:hover {
                text-decoration-color: #000;
            }
        }
        .footer__email {
            margin-bottom: 0;
        }

    }

    &__social {
        &--title {
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 12px;
        }
        .social-list {
            margin-left: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .social-link {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                flex-shrink: 0;

                svg {
                    path {
                        fill: #747474;
                        transition: fill 0.3s;
                    }
                }

                &:hover{
                    svg {
                        path {
                            fill: #000
                        }
                    }
                }
            }
        }
    }
}

.feedback {
    text-align: center;
    position:  relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(326px + (322 - 326) * ((100vw - 320px) / (768 - 320)));
    
    &__image {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        margin-bottom: 10px;
        max-width: 270px;
    }

    .title--h2 {
        font-size: 12px;
        margin-bottom: 10px;
        color: #FFF;
        font-weight: 400;
    }

    &__description {
        font-size: 12px;
        color: #FFF;
    }

    &-form {
        position: relative;
        z-index: 1;

        &__wrapper {

            display: flex;
            flex-direction: column;
        }

        &__item {
            margin-bottom: 13px;

            input {
                background-color: transparent;
                border: 1px solid #fff;
                font-size: 12px;
                padding: 9px;
                color: #fff;
                width: 140px;
            }
        }

        &__button {
            background-color: #FFF;
            text-align: center;
            color: #000;
            padding: 9px;
            padding-top: 11px;
            width: 140px;
            font-size: 12px;
            cursor: pointer;

            transition: all 0.3s;

            &:hover {
                color: #fff;
                border: 1px solid #FFF;
                background-color: #000;
            }
        }
    }
}
